---
---

@import"{{ site.theme }}";

.page-header{
color:#ffff;
background-color: #0D1116;
background-image: None;
}


body {
    color: #ffff;
    background-color: 161B22;
}
 
h1, h2 {
   color: #FFFFFF
}
